@page
@using Localization.Resources.AbpUi
@using Microsoft.Extensions.Localization
@using EasyAbp.NotificationService.Pages
@model IndexModel
@inject IStringLocalizer<AbpUiResource> Localizer

<div>
    <a href="~/Account/Login">@Localizer["Login"]</a>
</div>

<div>
    <a href="/test/send-test-notification" target="_blank">Send test notification</a>
</div>