@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using EasyAbp.NotificationService.Web.Pages.NotificationService.Notifications.Notification
@using EasyAbp.NotificationService.Localization
@using EasyAbp.NotificationService.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<NotificationServiceResource> L
@{
    PageLayout.Content.Title = L["Menu:Notification"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:NotificationService"].Value);
    PageLayout.Content.MenuItemName = NotificationServiceMenus.Notification;
}

@section scripts
{
    <abp-script src="/Pages/NotificationService/Notifications/Notification/index.js" />
}
@section styles
{
    <abp-style src="/Pages/NotificationService/Notifications/Notification/index.css"/>
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="NotificationCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="NotificationFilter" id="NotificationFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="NotificationCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="NotificationTable" class="nowrap"/>
    </abp-card-body>
</abp-card>